*.user
*.pdb
*.dll
Debug
Release
/.vs
/packages
/EICSystemTracker.Web/obj
/EICSystemTracker.Web/bin
/EICSystemTracker.Host/obj
/EICSystemTracker.Host/bin

/EICSystemTracker.Contracts/bin/Debug
/EICSystemTracker.Contracts/obj/Debug

/EICSystemTracker.Data.Tests/bin/Debug
/EICSystemTracker.Data.Tests/obj/Debug
/EICSystemTracker.Data/bin/Debug
/EICSystemTracker.Data/obj/Debug
/TestResults
/EICSystemTracker.Contracts/obj
/EICSystemTracker.Contracts/bin

/EICSystemTracker.Data/bin
/EICSystemTracker.Data/obj
/EICSystemTracker.Data.Tests/obj
/EICSystemTracker.Data.Tests/bin

/EICSystemTracker.Web/init.js
/EICSystemTracker.Web/init.js.map
/EICSystemTracker.Web/manifest.js
/EICSystemTracker.Web/manifest.js.map
/EICSystemTracker.sln.DotSettings

/EICSystemTracker.Web/*.js
/EICSystemTracker.Web/*.js.map
/EICSystemTracker.Web/Content/site_plugins.css
/EICSystemTracker.Web/Content/site_plugins.min.css
/EICSystemTracker.Web/app/areas/systems/viewmodels/logActivityViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/logActivityViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/allViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/allViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/factionTrackingViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/factionTrackingViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/logActivityViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/logActivityViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/systemsViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/systemsViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/systemViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/systemViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/viewmodels/trackSystemViewModel.js
/EICSystemTracker.Web/app/areas/systems/viewmodels/trackSystemViewModel.js.map
/EICSystemTracker.Web/app/areas/systems/styles/systemsviewstyles.css
/EICSystemTracker.Web/app/areas/systems/styles/systemsviewstyles.min.css
/EICSystemTracker.Web/app/areas/systems/controllers/EICSystemTrackerDataController.js.map
/EICSystemTracker.Web/app/areas/systems/controllers/EDStarMapController.js
/EICSystemTracker.Web/app/areas/systems/controllers/EDStarMapController.js.map
/EICSystemTracker.Web/app/areas/systems/controllers/EICSystemTrackerDataController.js
/EICSystemTracker.Web/app/areas/systems/manifest.js.map
/EICSystemTracker.Web/app/areas/systems/manifest.js
/EICSystemTracker.Web/app/areas/home/controllers/EICSystemDataController.js.map
/EICSystemTracker.Web/app/areas/home/controllers/EICSystemDataController.js
/EICSystemTracker.Web/app/areas/home/styles/homeviewstyles.min.css
/EICSystemTracker.Web/app/areas/home/styles/homeviewstyles.css
/EICSystemTracker.Web/app/areas/home/viewmodels/startViewModel.js.map
/EICSystemTracker.Web/app/areas/home/viewmodels/factionTrackingViewModel.js
/EICSystemTracker.Web/app/areas/home/viewmodels/factionTrackingViewModel.js.map
/EICSystemTracker.Web/app/areas/home/viewmodels/startViewModel.js
/EICSystemTracker.Web/app/areas/home/manifest.js.map
/EICSystemTracker.Web/app/areas/home/manifest.js
/EICSystemTracker.Web/app/framework/domain/PageViewModel.js.map
/EICSystemTracker.Web/app/framework/domain/PageViewModel.js
/EICSystemTracker.Web/app/services/systemscacheservice.js.map
/EICSystemTracker.Web/app/services/systemscacheservice.js
