*.user
/.vs
/packages
/EICSystemTracker.Web/obj
/EICSystemTracker.Web/bin
/EICSystemTracker.Host/obj
/EICSystemTracker.Host/bin
/EICSystemTracker.Web/compilerconfig.json.defaults
/EICSystemTracker.Web/compilerconfig.json
