*.user
/.vs
/packages
/EICSystemTracker.Web/obj
/EICSystemTracker.Web/bin
/EICSystemTracker.Host/obj
/EICSystemTracker.Host/bin
/EICSystemTracker.Web/compilerconfig.json.defaults
/EICSystemTracker.Web/compilerconfig.json
/EICSystemTracker.Contracts/bin/Debug
/EICSystemTracker.Contracts/obj/Debug
/EICSystemTracker.Data.Tests/bin/Debug
/EICSystemTracker.Data.Tests/obj/Debug
/EICSystemTracker.Data/bin/Debug
/EICSystemTracker.Data/obj/Debug
/TestResults
/EICSystemTracker.Contracts/obj
/EICSystemTracker.Contracts/bin
/EICSystemTracker.Data/bin
/EICSystemTracker.Data/obj
/EICSystemTracker.Data.Tests/obj
/EICSystemTracker.Data.Tests/bin
*.pdb
*.dll
Debug
Release
/EICSystemTracker.Web/init.js
/EICSystemTracker.Web/init.js.map
/EICSystemTracker.Web/manifest.js
/EICSystemTracker.Web/manifest.js.map
/EICSystemTracker.sln.DotSettings
