.home #home_startView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.home #home_startView .splash {
  width: 50%;
  height: 75%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
.home #home_startView .splash .logo {
  height: 50vh;
}
.home #home_startView .splash .title {
  height: 10vh;
  font-size: 10vh;
}