<div id="home_startView">

    <div class="splash" data-bind="css: {'loader': isLoading }">
        <!-- ko if: !isLoading() -->
        <div class="title">EIC System Tracker [vAlpha-0.0.1]</div>
        <br/>

        <div class="col-xs-12 col-md-4 col-lg-3" style="border: solid 1px #F6F6F6; padding: 10px;">
            <h4>System Info</h4>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Name</div>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-12" data-bind="value: systemName"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Traffic</div>
                <div class="col-xs-8">
                    <input type="number" class="col-xs-12" data-bind="value: traffic"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Population</div>
                <div class="col-xs-8">
                    <input type="number" class="col-xs-12" data-bind="value: population"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Security</div>
                <div class="col-xs-8">
                    <input data-bind="kendoDropDownList: {dataTextField: '', dataValueField: '', optionLabel: 'Select Security...', dataSource: securityOptions, value: security}"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Allegiance</div>
                <div class="col-xs-8">
                    <input data-bind="kendoDropDownList: {dataTextField: '', dataValueField: '', optionLabel: 'Select an Allegiance...', dataSource: allegianceOptions, value: allegiance}"/>
                </div>
            </div>
            <br/>
            <h4>Party Info</h4>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Name</div>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-12" data-bind="value: partyName"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Allegiance</div>
                <div class="col-xs-8">
                    <input data-bind="kendoDropDownList: {dataTextField: '', dataValueField: '', optionLabel: 'Select an Allegiance...', dataSource: allegianceOptions, value: partyAllegiance}"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Influence</div>
                <div class="col-xs-8">
                    <input type="number" class="col-xs-12" data-bind="value: partyInfluence"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Current State</div>
                <div class="col-xs-8">
                    <input data-bind="kendoDropDownList: {dataTextField: '', dataValueField: '', optionLabel: 'Select a State...', dataSource: stateOptions, value: partyState}"/>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Pending State</div>
                <div class="col-xs-8">
                    <select multiple="multiple" data-bind="kendoMultiSelect: { dataTextField: '', dataValueField: '', dataSource: stateOptions, minLength: 3, maxSelectedItems: 3, filter: 'startswith', ignoreCase: true, placeholder: 'Select up to 3...', value:  partyPendingStates}"></select>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">Recovering State</div>
                <div class="col-xs-8">
                    <select multiple="multiple" data-bind="kendoMultiSelect: { dataTextField: '', dataValueField: '', dataSource: stateOptions, minLength: 3, maxSelectedItems: 3, filter: 'startswith', ignoreCase: true, placeholder: 'Select up to 3...', value:  partyRecoveringStates}"></select>
                </div>
            </div>
            <div class="row" style="padding-bottom: 5px;">
                <div class="col-xs-4">CMDR Name</div>
                <div class="col-xs-8">
                    <input type="text" class="col-xs-12" data-bind="value: cmdrName"/>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-default pull-right" data-bind="click: submitData">Submit</button>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
</div>