<div id="home_startView">

    <div class="splash">
        <!--TODO: Dashboard...
        <div style="height: 100px; width: 100px; margin: 5px;" class="color1"></div>
        <div style="height: 100px; width: 100px; margin: 5px;" class="color2"></div>
        <div style="height: 100px; width: 100px; margin: 5px;" class="color3"></div>
        <div style="height: 100px; width: 100px; margin: 5px;" class="color4"></div>-->

        <a href="#start/systems/trackSystem">
            <h1>
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>&nbsp;Track A System
            </h1>
        </a>
        <a href="#start/systems/all">
            <h1>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;View All Systems
            </h1>
        </a>
        <a href="#start/systems/logActivity">
            <h1>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp;Log Activity
            </h1>
        </a>
    </div>
</div>