<div data-bind="css: {'loader': isLoading }">
    <!-- ko if: !isLoading() -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>System</th>
                <th>Population</th>
                <th>Security</th>
                <th>Allegiance</th>
                <th>Last Updated</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: TrackedSystems -->
            <tr class="selectable" data-bind="click: $parent.SelectSystem">
                <td>
                    <a data-bind="text: Name"></a>
                </td>
                <td data-bind="text: Population"></td>
                <td data-bind="text: Security"></td>
                <td data-bind="text: Allegiance"></td>
                <td data-bind="text: $parent.ToLocalDate($data)"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
    <!-- /ko -->
</div>