<div id="systems_startView">

    <div class="hidden-sm col-md-2 tabs-left">
        <ul class="nav nav-tabs">
            <li data-bind="css:{active:_isCurrentPage('start/systems/all')},click:function(){location.hash = 'start/systems/all'}">
                <a>All Systems</a>
            </li>
            <li data-bind="css:{active:_isCurrentPage('start/systems/trackSystem')},click:function(){location.hash = 'start/systems/trackSystem'}">
                <a>Track A System</a>
            </li>
            <li data-bind="css:{active:_isCurrentPage('start/systems/logActivity')},click:function(){location.hash = 'start/systems/logActivity'}">
                <a>Log System Activity</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-10" style="margin-left:2em;">
        <!-- ko foreach: Pages -->
        <div data-bind="page: $data.config"></div>
        <!-- /ko -->
    </div>
</div>
