@font-face {
    font-family: Orbitron-Regular;
    src: url('fonts/Orbitron/Orbitron-Regular.ttf') format('truetype');
    font-weight:normal;
}
/* TODO: Use Custom fonts */

body {
    /*color: #F6F6F6;
    background-color: #2B2B2B;*/
    font-family: Arial;
}

.linkButton {
    &:hover {
        cursor: pointer;
    }
}

a {
    &:hover {
        cursor: pointer;
    }
}

input {
    color: #2B2B2B;
}

.fontBlack {
    background-color: #2B2B2B;
}

.fontRed {
    background-color: #DE1B1B;
}

.fontWhite {
    color: #F6F6F6;
}

.fontYellow {
    color: #E9E581;
}

.tabs-left {
    > .nav-tabs {
        float: left;
        margin-right: 19px;
        border-bottom: 0;

        .active {
            > a {
                border-color: #ddd transparent #ddd #ddd;
                background-color: transparent;
            }
        }

        > li {
            float: none;
            margin-bottom: -4px;

            > a {
                border-radius: 4px 0 0 4px;
                margin-right: -1px;
                min-width: 74px;
                margin-bottom: 3px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 12px;
                padding-left: 12px;
                line-height: 20px;
                border: 1px solid transparent;
                border-right: 1px solid #ddd;
            }
        }
    }
}

/* reset everything to the default box model */

*, :before, :after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.force-border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    &:before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

/* set a border-box model only to elements that need it */

.form-control, /* if this class is applied to a Kendo UI widget, its layout may change */
.container,
.container-fluid,
.row,
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7,
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11,
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
