body {
    color: #F6F6F6;
    background-color: #2B2B2B;
    font-family: sans-serif;
}

a {
    &:hover {
        cursor: pointer;
    }
}

input {
    color: #2B2B2B;
}

.color1 {
    color: #2B2B2B;
}

.color2 {
    color: #DE1B1B;
}

.color3 {
    color: #F6F6F6;
}

.color4 {
    color: #E9E581;
}